.container{
    margin: auto;
    display: flex;
    /*border: 2px black solid;*/
    height: 1200px;
    width: 750px;
    margin-top: 50px;
}
/* Left side div Coding*/
.leftpart{
    margin-top: 100px;
    height: 1100px;
    width: 32%;
    margin-left: 25px;
}

    .left1{
        height: 750px;
        width: 100%;
        background-color: rgb(138, 142, 169);
        border-top-left-radius: 27px;
        border-top-right-radius: 27px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
        .left1-1{
            height: 400px;
            width: 100%;
            background-color: rgb(74, 78, 105);
            border-radius: 30px;
        }
            .image{
                height: 150px;
                width: 150px;
                border-radius: 90px;
                margin-top: -75px;
                margin-left: 12%;
                border: 10px rgb(74, 78, 105) solid;
            }

            .l1-1p{
                color: white;
                font-size: 35px;
                margin-left: 35px;
                margin-top: 20px;
            }
            .l1-1p2{
                color: white;
                margin-left: 35px;
                font-size: 20px;
            }

        .left1-2{
            height: 350px;
            width: 100%;
            background-color: rgb(138, 142, 169);
            border-radius: 30px;
        }
            .left1-2p{
                margin-top: 0 !important;
                color: white;
                font-size: 18px;
                margin-left: 35px;
            }

    .left2{
        height: 350px;
        width: 100%;
    }
        .left2-p{
            font-size: 20px;
            margin: 0;
        }
        

/* Right side div coding*/
.rightpart{
    height: 1200px;
    width: 68%;
    margin-left: 20px;
}

.r1{
    height: 240px;
    width: 100%;
}

.p-r1{
    font-size: 22px;
    text-align: justify;
}

.r2{
    width: 100%;
    height: 260px;
}

.r3{
    height: 400px;
    width: 100%;
}

.r3p1{
    text-decoration: bold;
    font-size: 22px;
}
.r3p2{
    font-size: 16px;
    text-align: justify;
}
.r4{
    width: 100%;
    height: 270px;
}
.r4main{
    height: 234px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.r4main1{
    height: 117px;
    width: 50%;
}
.r4main2{
    height: 117px;
    width: 50%;
}
.r4main3{
    height: 117px;
    width: 50%;
}
.r4main4{
    height: 117px;
    width: 50%;
}
/* Other */
.reference{
    height: 35px;
    width: 200px;
}
.referencep{
    color: black;
    font-size: 30px;
}
.top0{
    margin-top: 0px !important;
}
.referencebg{
    height: 30px;
    width: 200px;
    background-color: rgb(199, 200, 207);
    margin-top: -47px;
    border-radius: 20px;
}
.aboutbg{
    height: 30px;
    width: 175px;
    background-color: rgb(199, 200, 207);
    margin-top: -43px;
    border-radius: 20px;
}
.skillsbg{
    height: 30px;
    width: 120px;
    background-color: rgb(199, 200, 207);
    margin-top: -45px;
    border-radius: 20px;
}

.experiencebg{
    height: 30px;
    width: 225px;
    background-color: rgb(199, 200, 207);
    margin-top: -45px;
    border-radius: 20px;
}
.educationbg{
    height: 30px;
    width: 145px;
    background-color: rgb(199, 200, 207);
    margin-top: -45px;
    border-radius: 20px;
}